* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: var(--accent-color);
}

* span,
* button {
  transition: all 0.2s ease;
}

button:hover {
  cursor: pointer;
}

:root {
  --background-color: #1e1e1e;
  --foreground-color: #282828;
  --input-background-color: #333333;
  --font-color: #dadada;
  --font-color-weak: #7f7f7f;
  --accent-color: #7e57c2;
  --accent-color-hover: #fe91ff;
  --font-bit: 2rem;
  --font-medium: 1.5rem;
  --font-small: 0.8rem;
  --box-shadow: rgba(0, 0, 0, 0.9) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

#root,
html {
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: var(--font-color);
}

.app {
  background-color: var(--background-color);
  width: 100vw;
  padding-left: 15vw;
  padding-right: 15vw;
}

/* Todo Container */

.todo-container {
  margin-top: 50px;
  background-color: var(--foreground-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.button-container,
.info-container {
  display: flex;
  align-items: center;
}

.button-container button {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 10px;
  background-color: transparent;
}

/* List Header */

.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.list-header h1 {
  width: 100%;
  text-align: center;
}

.user-email {
  float: right;
  font-size: 15px;
  margin: 10px;
}

/* List Item */

.list-item {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--input-background-color);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.tick {
  margin-right: 5px;
}

.edit {
  border: 1.5px solid rgb(100, 255, 100);
  color: rgb(100, 255, 100);
  text-transform: uppercase;
}

.edit:hover {
  border: 1.5px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.edit:active {
  border: 1.5px solid rgb(100, 255, 100);
  color: var(--font-color);
  background-color: rgb(100, 255, 100);
}

.delete,
.signout {
  border: 1.5px solid rgb(255, 100, 100);
  color: rgb(255, 100, 100);
  text-transform: uppercase;
}

.delete:hover,
.signout:hover {
  border: 1.5px solid rgb(255, 200, 200);
  color: rgb(255, 200, 200);
}

.delete:active,
.signout:active {
  border: 1.5px solid red;
  color: var(--font-color);
  background-color: red;
}

.create {
  border: 1.5px solid var(--accent-color);
  color: var(--accent-color);
  text-transform: uppercase;
}

.create:hover {
  border: 1.5px solid var(--accent-color-hover);
  color: var(--accent-color-hover);
}

.create:active {
  border: 1.5px solid var(--accent-color);
  color: var(--font-color);
  background-color: var(--accent-color);
}

input {
  color: white;
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 2px solid var(--accent-color);
  background-color: var(--input-background-color);
}

.auth-button,
.modal-button {
  all: unset;
  text-align: center;
  font-weight: bold;
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: var(--accent-color);
  transition-duration: 0.2s;
  text-transform: capitalize;
}

.auth-button:hover,
.modal-button:hover {
  background-color: var(--accent-color-hover);
  cursor: pointer;
}

/* Modal */

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
  background-color: var(--foreground-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.modal .form-title-container {
  display: flex;
  justify-content: space-between;
}

.modal .form-title-container button:active {
  color: rgb(255, 50, 50);
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  font-size: 13px;
}

.close-btn {
  border-radius: 20px;
  width: 20px;
  color: var(--accent-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
}

.close-btn:hover {
  color: var(--accent-color-hover);
  border: 2px solid var(--accent-color-hover);
  cursor: pointer;
}

/* Auth */

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 10%;
}

.auth-container-box {
  background-color: var(--foreground-color);
  width: 500px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  overflow: auto;
}

.auth-container-box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  padding: 20px;
  margin: 30px;
}

.auth-container-box form input {
  background-color: var(--input-background-color);
}

.email-input {
  background-color: black;
}

.auth-container-box form h2 {
  text-align: center;
}

input:focus {
  outline: none;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border-bottom: 5px dashed var(--accent-color);
}
input[type="email"],
input[type="password"],
input[type="text"] {
  border-bottom: 5px dashed var(--accent-color);
}

.small-text {
  margin: 11px 0;
  text-align: center;
  font-size: var(--font-small);
  color: var(--font-color-weak);
}

.link-text {
  color: var(--font-color);
}

.link-text:hover {
  color: var(--accent-color-hover);
  cursor: pointer;
}

/* Progress Bar*/

.outer-bar {
  width: 200px;
  height: 14px;
  background-color: rgb(216, 216, 216);
  border-radius: 7px;
  overflow: hidden;
}

.inner-bar {
  height: 14px;
  background-color: var(--accent-color);
}

.error {
  color: red;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.auth-options button:hover {
  cursor: pointer;
}

.task-title {
  width: 300px;
}
